<nav class="navbar navbar-primary bg-primary" style="color: aliceblue;">
   <h2>Essa é minha navbar com partials</h2>
</nav>

<div class="container" style="margin-top: -7px;">
    <a class="btn btn-primary" href="/index" role="button">Home</a>
    <a class="btn btn-primary" href="/credits" role="button">Créditos</a>
</div>