<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>
<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Tecnologias utilizadas
            </div>
            <div class="card-body">
                <p><b>Jonei Santos teste de aplicação node com express e ejs</b></p>
                <ul>
                    <% tecnologias.forEach(tecnologia => { %>
                        <li><%= tecnologia.titulo %></li>
                    <% }) %>
                </ul>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>