<%- include('partials/header.ejs')%>
<%- include('partials/navbar.ejs')%>
<body>
    <br>
    <div class="container">
        <div class="card">
            <div class="card-header">
                Créditos
            </div>
            <div class="card-body">
                <p>Jonei Santos teste de aplicação node com express e ejs</p>
                <p>2024</p>
                <ul>
                    <li>express</li>
                    <li>nodemon</li>
                    <li>EJS</li>
                </ul>
            </div>
        </div>
    </div>

    <%- include('partials/footer.ejs')%>